<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">    
        <title>Survey Form</title>
    </head>
    <body>
        <% if flash[:success] %>
			<div class="success">
				<p> <%= flash[:success] %> </p>
			</div>
		<% end %>
		<h2>Submitted Information</h2>
		<label>Name: <%= @results.name%> </label>
	    <label>Dojo Location: <%= @results.location%> </label>
		<label>Favorite Laguage: <%= @results.language%> </label>
        <label>Comment: <%= @results.comment%> </label>
        <a href="/"> Go Back </a>
	</body>
</html> 